<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout2">

<div class="card" layout:fragment="content">

    <div class="card">
        <div class="card-header">
            Board Read
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <span class="input-group-text">Bno</span>
                <input type="text" name="bno" class="form-control" readonly
                       th:value="${dto.bno}"  >
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Title</span>
                <input type="text" name="title" class="form-control" readonly
                       th:value="${dto.title}"   >
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Writer</span>
                <input type="text" name="writer" class="form-control"  readonly
                       th:value="${dto.writer}">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">RegDate</span>
                <input type="text" name="regDate" class="form-control" readonly
                       th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" >
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">ModDate</span>
                <input type="text" name="modDate" class="form-control" readonly
                       th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}">
            </div>

            <div class="input-group">
                <span class="input-group-text">Content</span>
                <textarea class="form-control" aria-label="With textarea" name="content" rows="4">[[${dto.content}]]</textarea>
            </div>

            <div class="my-4">
                <div class="my-4">
                    <div class="float-end">
                        <button type="button" class="btn btn-primary" th:onclick="|modify(${dto.bno})|">Modify</button>
                        <button type="button" class="btn btn-secondary" th:onclick="|moveList()|">List</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end card-->

    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <span class="input-group-text">Replyer</span>
                <input type="text" name="replyer" class="form-control">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">ReplyText</span>
                <input type="text" name="replyText" class="form-control">
            </div>
            <div  class="input-group mb-3">
                <button class="btn btn-primary" onclick="registerReply()">Reply Register</button>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>

    <!-- reply card-->
    <div class="card">
        <div class="card-header">Replies</div>
        <div class="card-body">
            <ul class="list-group replyUL">

            </ul>
            <div class="card-body">

            </div>
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>

        </div>
    </div>
</div>

<th:block  layout:fragment="script">

    <script th:inline="javascript">
        function modify(bno){

            const page = [[${pageRequestDTO.page}]]
            const size = [[${pageRequestDTO.size}]]
            const type = [[${pageRequestDTO.type}]]
            const keyword = [[${pageRequestDTO.keyword}]]

            let searchQuery = ''

            if(type && keyword){
                searchQuery += `&type=${type}&keyword=${keyword}`
            }

            self.location=`/board/modify?bno=${bno}&page=${page}&size=${size}`+searchQuery

        }

        function moveList(){

            const page = [[${pageRequestDTO.page}]]
            const size = [[${pageRequestDTO.size}]]
            const type = [[${pageRequestDTO.type}]]
            const keyword = [[${pageRequestDTO.keyword}]]

            let searchQuery = ''

            if(type && keyword){
                searchQuery += `&type=${type}&keyword=${keyword}`
            }

            self.location=`/board/list?page=${page}&size=${size}` + searchQuery

        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script th:inline="javascript">

        const bno = [[${dto.bno}]]

        function makeListAndPaging(replyPageResponse){
            const dtoList = replyPageResponse.dtoList

            console.log(dtoList)

            let str = ""

            for (const reply of dtoList) {
                console.log(reply)
                str += "<li class='list-group-item d-flex justify-content-between align-items-center'>"
                str += `<div><span>${reply.rno} ---------- ${reply.replyText}</span></div>`
                str += "</li>"

            }
            console.log(str)
            document.querySelector(".replyUL").innerHTML = str

            //paging
            const pagination = document.querySelector(".pagination")
            let pageStr = ""

            //prev
            if(replyPageResponse.prev){
                pageStr += `<li class="page-item"><a class="page-link"  href="javascript:getList(${replyPageResponse.start -1})" tabindex="-1">Previous</a></li>`
            }
            //num
            for(let i = replyPageResponse.start; i<= replyPageResponse.end; i++){
                pageStr += `<li class="page-item ${i==replyPageResponse.page?"active":""} "><a class="page-link" href="javascript:getList(${i})" tabindex="-1">${i}</a></li>`
            }

            //next
            if(replyPageResponse.next){
                pageStr += `<li class="page-item"><a class="page-link" href="javascript:getList(${replyPageResponse.end +1})" tabindex="-1">Next</a></li>`
            }

            pagination.innerHTML = pageStr
        }

        async function getList(pageNum) {

            const response = await axios.get(`/replies/list/${bno}?page=${pageNum}`)
            const replyPageResponse = await response.data

            console.log(replyPageResponse)

            makeListAndPaging(replyPageResponse)



        }

        function registerReply(){

            const replyObj = {bno:bno,
                replyer: document.querySelector("input[name='replyer']").value,
                replyText: document.querySelector("input[name='replyText']").value,
            }

            async  function registerAjax(){
                const response = await axios.post("/replies", replyObj)
                const replyPageResponse = await response.data
                makeListAndPaging(replyPageResponse)
                document.querySelector("input[name='replyer']").value =""
                document.querySelector("input[name='replyText']").value =""
            }

            registerAjax();

        }




        getList(-1)

    </script>



</th:block>